{% extends "object.twig" %}

{% block objectContent %}
	

		<div class="col d-flex align-items-center flex-column {{url == '/'~url_prefix ? 'offset-1'}}" style="justify-content:center;">
			Джесси - это Джесси<br>
			<p>Информатор со стороны Института, который не может понять почему именно он был выбран информатром.
				<span class="specials">Субтильный</span>
				ученый из относительно секретной организации.
							                    В его кругу коллег считают, что Джесси владеет
				<span class="specials">умением убеждать</span>. 
									                    Однако он не из скучных ученых, потому что он тот еще
				<span class="specials">тусовщик</span>.
									                    Джесси всюду находит крышки из-под колы, но это не мешает ему быть
				<span class="specials">кладоискателем</span>.
									                    Обладает небольшим
				<span class="specials">радиосопротивлением</span>.
									                    В его листе послужном листе также отмечена черта
				<span class="specials">командир</span>, которой он не помнит и не понимает как пользоваться.
									                    Джесси крайне
				<span class="specials">осторожный</span>, чтобы не попасть при перестрелке в кого-то из своей команды (не хочет огребсти потом).
									                    Несмотря на это, удивительно, что руководство выдало ему целых
				<span class="specials">6 гранат</span>, при условии, что кидать он их не умеет.
									                    Но всё это неважно потому что у него есть в кармане бутылка водки, мясо белки и
				<b>свехуникальное, многофункциональное устройство -
					<i class="fas fa-cog fa-spin" style="font-size: 1.5em;"></i>фонарь<i class="fas fa-cog fa-spin" style="font-size: 1.5em;"></i>
				</b>
			</p>
		</div>
	</div>


	<style>
		
		.specials {
			color: rgb(180, 0, 120);
		}
	</style>
{% endblock %}
