{% extends "object.twig" %}

{% block objectContent %}
	
		<div class="col d-flex align-items-center flex-column {{url == '/'~url_prefix ? 'offset-1'}}" style="justify-content:center;">
			Рудольф - это рудольф
			<br>
			<p>Для окружающих Рудольф молодой, обходительный парень, который только прибыл в Столичную Пустошь. 
				На первый взгляд сразу видно, что он вовсе не боец, но в полной мере компенсирует это огромным количеством крышек 
				и меняющимися наемниками. Этот немного чудной для обитателей Пустошей человек всегда одевается 
				наиболее представительно, несмотря на то, что многие в этом мире уже давно забыли о своем и чужом внешнем виде.<br>
				Сейчас он собирается дойти до какого-нибудь наиболее крупного поселения, 
				чтобы распространить там свои волшебные услуги. Рудольф уже убедил некоторых встреченных фермеров
				 отдать ему немного своих крышек, а через некоторое время отдавал в два раза больше. 
				 И со многими из них заключил контракт на большую сумму крышек, но убедил их, что деньги придут через год или полтора, 
				 потому что «Большие суммы требуют большого терпения. Подождите пока мои караваны доедут и привезут прибыль».
				    Люди верят Рудольфу и несут крышки, а на вопросы о его переезде он отвечает, что повздорил с одним серьезным, 
					влиятельным человеком и пришлось покинуть «родину». Хотя только самому Рудольфу известно сколько «родин» он уже покинул.
			</p>
			<p>
				Слово Мастера:<br>
				Рудольф был хаосом. Он постоянно творил какую-то дичь, что ставило его напарников в совершенно безумные и неожиданные ситуации. Он был настоящим и прирождённым суетологом, ибо там где можно было подняться по лестнице, он поднимался по канату. Ногами. Вниз головой. С завязанными руками. Он был смелым и безрассудным и постоянно ловил лицом ловушки и мины. и встретил свой финальный плазменный заряд лицом так же смело и безрассудно.</p>
		</div>
	</div>

	
{% endblock %}
